.figure {
  margin: 30px;
  float: left;
}
.content-block {
  color: #fff;
  background-color: deeppink;
}
.content-block p {
  font-family: Georgia, 'Times New Roman' sans-serif;
  background-color: green;
}
